<div class="Container">
    <div class="PasswordButtons">
        <span>Password</span>
        <img src="/assets/icon--eye-open.svg" class="Show" (click)="toggleFieldTextType()" *ngIf="!fieldTextType" />
        <img src="/assets/icon--eye-closed.svg" class="Show" (click)="toggleFieldTextType()" *ngIf="fieldTextType" />
    </div>
    
    <div>
        <input [type]="fieldTextType ? 'text' : 'password'" class="Password" [(ngModel)]="passwordValue" />
        <img src="/assets/icon--saltire.svg" (click)="clearPassword()" *ngIf="passwordValue" />
    </div>
</div>