<div class="Container">
    <div class="PasswordButtons">
        <span>Password</span>
        <div *ngIf="!fieldTextType" >
            <img src="/assets/icon--eye-open.svg" class="Show" (click)="toggleFieldTextType()" />
            <span class="ButtonSpan" (click)="toggleFieldTextType()">Show</span>
        </div>
        <div  *ngIf="fieldTextType" >
            <img src="/assets/icon--eye-closed.svg" class="Hide" (click)="toggleFieldTextType()"/>
            <span class="ButtonSpan" (click)="toggleFieldTextType()">Hide</span>
        </div>
    </div>
    
    <div>
        <input [type]="fieldTextType ? 'text' : 'password'" class="Password" [(ngModel)]="passwordValue" />
        <img src="/assets/icon--saltire.svg" (click)="clearPassword()" *ngIf="passwordValue" />
    </div>
    <div *ngIf="!passwordValue">
        <img src="assets/icon--alert.svg" />
        <span class="AlertText">Please enter a password.</span>
    </div>
</div>