<div class="Container">
    <div class="PasswordButtons">
        <span>Password</span>
        <div *ngIf="!fieldTextType" >
            <img src="/assets/icon--eye-open.svg" class="Show" (click)="toggleFieldTextType()" />
            <span>Show</span>
        </div>
        <div  *ngIf="fieldTextType" >
            <img src="/assets/icon--eye-closed.svg" class="Hide" (click)="toggleFieldTextType()"/>
            <span>Hide</span>
        </div>
    </div>
    
    <div>
        <input [type]="fieldTextType ? 'text' : 'password'" class="Password" [(ngModel)]="passwordValue" />
        <img src="/assets/icon--saltire.svg" (click)="clearPassword()" *ngIf="passwordValue" />
    </div>
</div>